@{
    cabaña c = ViewBag.cabaña;
}
<h1>@c.devolverNombre()</h1>
<p> </p>
<h4><h4>TIPO:</h4>@c.devolverDescripcion()</h4>
<p> </p>
<h4><h4>CAPACIDAD:</h4>@c.devolverCapacidad() personas</h4>
<p> </p>
 <h4>AMBIENTES:</h4>
@foreach(string d in c.devolverListaAmbientes())
{
   <p>@d</p>
}
@foreach(string foto in @c.devolverListaFotos())
{
         <p><img src="/imagenes/@foto"/> </a> </p>
}